.gameBlock {
    width: 40px;
    height: 40px;
    margin: 5px;
}

.blockNoClicked {
    background-color: #4d0068;
}

.blockClickedWin {
    background: url("../../../../src/assets/star-ic.png") center center / cover no-repeat;
}